extends ../layout/header.pug
block content
  #carouselBlk
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          .container
            a(href='/products')
              img(style='width:100%', src=carousels[0].img, alt='special offers')
            .carousel-caption
              h4 Second Thumbnail label
              p
                | Thumbnail label ahihi
        //each carousel in carousels
        -for(var i=1; i < carousels.length; i++)
          .item
            .container
              a(href='/products')
                img(style='width:100%', src=carousels[i].img, alt='')
              .carousel-caption
                h4 Second Thumbnail label
                p
                  | Thumbnail label ahihi
      a.left.carousel-control(href='#myCarousel', data-slide='prev') &lsaquo;
      a.right.carousel-control(href='#myCarousel', data-slide='next') &rsaquo;
  #mainBody
    .container
      .row
        //sidebar==============================================================
        include ../layout/sidebar.pug
        .span9
          .well.well-small
            h4
              | Latest Products
            .row-fluid
              #featured.carousel.slide
                .carousel-inner
                  .item.active
                    ul.thumbnails
                      -for(var j=0; j<4 ;j++)
                        li.span3
                          .thumbnail
                            i.tag
                            a(href='/product-details/' + newproducts[j].id)
                              img(src=newproducts[j].img, alt='')
                            .caption
                              h5=newproducts[j].name
                              h4
                                a.btn.btn-warning(href='/product-details/' + newproducts[j].id) VIEW
                                span.pull-right $#{newproducts[j].price}
                  if newproducts.length > 4
                    .item
                      ul.thumbnails
                        -for(j=4; j< 8; j++)
                          li.span3
                            .thumbnail
                              i.tag
                              a(href='/product-details/' + newproducts[j].id)
                                img(src=newproducts[j].img, alt='')
                              .caption
                                h5=newproducts[j].name
                                h4
                                  a.btn.btn-warning(href='/product-details/' + newproducts[j].id) VIEW
                                  span.pull-right $#{newproducts[j].price}
                a.left.carousel-control(href='#featured', data-slide='prev') &lsaquo;
                a.right.carousel-control(href='#featured', data-slide='next') &rsaquo;
          h4 Products 
          ul.thumbnails
            each product in products
              li.span3
                .thumbnail
                  a(href='/product-details/' + product.id)
                    img(src=product.img, alt='')
                  .caption
                    h5=product.name
                    p=product.supplier
                    h4(style='text-align:center')
                      a.btn(href='/product-details/' + product.id)
                        i.icon-zoom-in
                      a.btn.btn-success(href='/cart/add/'+product.id)
                        | Add to 
                        i.icon-shopping-cart
                      a.btn.btn-danger(href='#') $#{product.price}
          hr.soft
          //Pagination(Phan trang)
          - var lowerLimit = (parseInt((page - 1)/3) * 3) + 1;
          - var startPage = lowerLimit-1;
          // (page-1) la trang dau tien xuat hien cua 3 trang (vd 1,2,3)
          .pagination
            ul
              if(page > 1)
                li
                  a(href='/'+`${baseUrl ? baseUrl : '?'}`+'page='+(page-1)) Previous
              else
                li
                  a(href='#') Previous
              each i in [1, 2, 3]
                if( total > startPage*perPage)
                  - startPage = startPage + 1;
                    if(page !== startPage)
                      li
                        a(href='/'+`${baseUrl ? baseUrl : '?'}`+'page='+startPage style ={ 'color':'blue'}) #{startPage}
                    else
                      li
                        a(href='/'+`${baseUrl ? baseUrl : '?'}`+'page='+startPage style ={ 'color':'white', 'background-color':'#0099ff' }) #{startPage}
              if(page < total/perPage)
                li
                  a(href='/'+`${baseUrl ? baseUrl : '?'}`+'page='+(page+1)) Next
              else
                li
                  a(href='#') Next
  // Footer ==================================================================
  include ../layout/footer.pug