extends ../layout/header.pug
block content
  #mainBody
    .container
      .row
        // Sidebar ==================================================
        include ../layout/sidebar.pug
        .span9
          ul.breadcrumb
            li
              a(href='/') Home
              span.divider /
            li.active product-details
          .row
            #gallery.span3
              a(href=product.img, title=product.name)
                img(src=product.img, style='width:70%', alt=product.name)
              #differentview.moreOptopm.carousel.slide
                .carousel-inner
                  .item.active
                    a(href=product.img)
                      img(style='width:22%', src=product.img, alt='')
              .btn-toolbar
                .btn-group
                  span.btn
                    i.icon-star
                  span.btn
                    i.icon-thumbs-up
                  span.btn
                    i.icon-thumbs-down
            .span6
              h3=product.name  
              small #{product.description}
              hr.soft
              form.form-horizontal.qtyFrm
                .control-group
                  label.control-label
                    span K₫ #{product.price}
                  .controls
                    a.btn.btn-large.btn-primary.pull-right(href='/cart/add/'+product.id)
                      | Add to cart 
                      i.icon-shopping-cart
              hr.soft
              h4 Items in stock
              form.form-horizontal.qtyFrm.pull-right
                .control-group
                  label.control-label
                    span Size:
                  .controls
                    select.span2
                      option M
                      option L
                      option XL
                      option XXL
              form.form-horizontal.qtyFrm.pull-right
                .control-group
                  label.control-label
                    span Color:
                  .controls
                    select.span2
                      option Black
                      option Red
                      option Blue
                      option Brown
              hr.soft.clr
              a.btn.btn-small.pull-right(href='#detail') More Details
              br.clr
              a(href='#', name='detail')
              hr.soft
            .span9
              ul#productDetail.nav.nav-tabs
                li.active
                  a(href='#home', data-toggle='tab') Product Details
              #myTabContent.tab-content
                #home.tab-pane.fade.active.in
                  h4 Product Information
                  table.table.table-bordered
                    tbody
                      tr.techSpecRow
                        th(colspan='2') Product Details
                      tr.techSpecRow
                        td.techSpecTD1 Name: 
                        td.techSpecTD2 #{product.name}
                      tr.techSpecRow
                        td.techSpecTD1 Supplier:
                        td.techSpecTD2 VDN #{product.supplier}
                      tr.techSpecRow
                        td.techSpecTD1 Color:
                        td.techSpecTD2  Full
                      tr.techSpecRow
                        td.techSpecTD1 Size:
                        td.techSpecTD2  Full
                  h5 Decription 1
                  p #{product.description}
                  h5 Decription 2
                  p #{product.description}                  
  // Footer ==========================================================
  include ../layout/footer.pug