extends ../layout/header.pug
block content
  #mainBody
    .container
      .row
        // Sidebar ==================================================
        include ../layout/sidebar.pug
        // Sidebar end===============================================
        .span9
          ul.breadcrumb
            li
              a(href='index.html') Home
              span.divider /
            li.active Products Name
          h3
            | Products Name 
            small.pull-right  40 products are available 
          hr.soft
          p
            | Nowadays the VDN industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - that is why our goods are so popular and we have a great number of faithful customers all over the country.
          hr.soft
          form.form-horizontal.span6
            .control-group
              label.control-label.alignL
                strong SORT BY 
              select(name='select-product', onchange='location=this.value;')
                option(value=0) SORT BY
                option(value='/products/sortAZ') Priduct name A - Z
                option(value='/products/sortZA') Priduct name Z - A
                option(value='/products/priceLow') Price Lowest first
                option(value='/products/priceHigh') Price Highest first
          #myTab.pull-right
            a(href='#listView', data-toggle='tab')
              span.btn.btn-large
                i.icon-list
            a(href='#blockView', data-toggle='tab')
              span.btn.btn-large.btn-primary
                i.icon-th-large
          br.clr
          .tab-content
            #listView.tab-pane
              each product in products
                .row
                  .span2
                    img(src=product.img, alt='')
                  .span4
                    h3=product.name
                    hr.soft
                    h5 Description 
                    p=product.description
                    a.btn.btn-small.btn-warning.pull-right(href='/product-details/' + product.id) VIEW DETAILS
                    br.clr
                  .span3.alignR
                    form.form-horizontal.qtyFrm
                      h3  K₫ #{product.price}
                      a.btn.btn-large.btn-success(href='/cart/add/'+product.id)
                        | Add to 
                        i.icon-shopping-cart
                      a.btn.btn-large(href='/product-details/' + product.id)
                        i.icon-zoom-in
                hr.soft
            #blockView.tab-pane.active
              ul.thumbnails
                each product in products
                  li.span3
                    .thumbnail
                      a(href='/product-details/' + product.id)
                        img(src=product.img, alt='')
                      .caption
                        h5=product.name
                        p=product.supplier
                        h4(style='text-align:center')
                          a.btn(href='/product-details/' + product.id)
                            i.icon-zoom-in
                          a.btn.btn-success(href='/cart/add/'+product.id)
                            | Add to 
                            i.icon-shopping-cart
                          a.btn.btn-danger(href='#') K₫ #{product.price}
              hr.soft
          - var lowerLimit = (parseInt((page - 1)/3) * 3) + 1;
          - var startPage = lowerLimit-1;
          // (page-1) la trang dau tien xuat hien cua 3 trang (vd 1,2,3)
          .pagination
            ul
              if(page > 1)
                li
                  a(href='/products'+`${baseUrl ? baseUrl : '?'}`+'page='+(page-1)) Previous
              else
                li
                  a(href='#') Previous
              each i in [1, 2, 3]
                if( total > startPage*perPage)
                  - startPage = startPage + 1;
                    if(page !== startPage)
                      li
                        a(href='/products'+`${baseUrl ? baseUrl : '?'}`+'page='+startPage style ={ 'color':'blue'}) #{startPage}
                    else
                      li
                        a(href='/products'+`${baseUrl ? baseUrl : '?'}`+'page='+startPage style ={ 'color':'white', 'background-color':'#0099ff' }) #{startPage}
              if(page < total/perPage)
                li
                  a(href='/products'+`${baseUrl ? baseUrl : '?'}`+'page='+(page+1)) Next
              else
                li
                  a(href='#') Next
          br.clr
  // MainBody End =============================
  // Footer ==================================================================
  include ../layout/footer.pug